<div class="row">
	<div class="card mb-1" style="height: 8vh">

		<div style="float: right; margin-top: 0.5vh;">
			<button type="button" class="btn btn-primary"
				style="float: right; margin-right: 1vw" data-bs-toggle="modal"
				data-bs-target="#ownerModal" onclick="addOwnerModal()">Add New Owner</button>
			<button type="button" class="btn btn-primary"
				style="float: right; margin-right: 1vw" data-bs-toggle="modal"
				data-bs-target="#ownerModal" onclick="searchById()">Find By Owner Id</button>
		</div>

	</div>
</div>
<div class="row" style="height: inherit;overflow: auto !important">
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-dark table-striped" id="owner-table" >


		</table>
	</div>
	<div class="col-1"></div>
</div>