<div class="row">
	<div class="card mb-1" style="height: 8vh">

		<div style="float: right; margin-top: 0.5vh;">
			<button type="button" class="btn btn-primary"
				style="float: right; margin-right: 1vw" data-bs-toggle="modal"
				data-bs-target="#petModal" onclick="addPetModal()">Add New Pet</button>
			<button type="button" class="btn btn-primary"
				style="float: right; margin-right: 1vw" data-bs-toggle="modal"
				data-bs-target="#petModal" onclick="findPetModal()">Find By Pet Id</button>
		</div>

	</div>
</div>
<div class="row" style="height: inherit;overflow: auto !important">
	<div class="col-2"></div>
	<div class="col-8">
		<table class="table table-dark table-striped" id="pet-table">


		</table>
	</div>
	<div class="col-2"></div>
</div>