<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" id="vet-page" href="#" onclick="changePage('vet-page','/vetPage','vet')" style="font-size: large;">Veterinarians</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" id="spl-page" href="#" onclick="changePage('spl-page','/splPage','spl')" style="font-size: large;">Specialities</a>
  </li>
  
</ul>

<div class="content"
		style="overflow-y: auto !important; height: 86vh; overflow-x: none">
		<div id="main-page-content"></div>
	</div>
<script type="text/javascript" language="javascript">  
    var versionUpdate = (new Date()).getTime();  
    var script = document.createElement("script");  
    script.type = "text/javascript";  
    script.src = "/js/vet.js?v=" + versionUpdate;  
    document.body.appendChild(script);  
</script>

<div class="modal fade" id="vetModal" tabindex="-1"
	aria-labelledby="vetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="vetModalLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body" id="vetModalBody"></div>
			<div class="modal-footer" id="vetModalFooter">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="splModal" tabindex="-1"
	aria-labelledby="splModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-m">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="splModalLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body" id="splModalBody"></div>
			<div class="modal-footer" id="splModalFooter">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
