<div class="row">
	<div class="card mb-1" style="height: 8vh">

		<div style="float: right; margin-top: 0.5vh;">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#visitModal" style="float: right; margin-right: 1vw" onClick="openPidModal()">List
				Visits By Pet Id</button>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#visitModal" style="float: right; margin-right: 1vw" onClick="openPidsModal()">List
				Visits By Pet Ids</button>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#visitModal" style="float: right; margin-right: 1vw" onClick="openOidModal()">List
				Visits By Owner Id</button>
		</div>

	</div>
</div>
<div class="row" style="height: inherit;overflow: auto !important">
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-dark table-striped" id="visit-table">


		</table>
	</div>
	<div class="col-1"></div>
</div>


